html {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #feafc3;
}

.blue-back {
  background-color: #69a9ff;
}

.header-page {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 24px;
}

.header-links {
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link-left:not(:last-child) {
  margin-right: 16px;
}

.header-link-right:not(:last-child) {
  margin-right: 16px;
}

/* ================================= */

.hero-slaid {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.adaptivSlayder {
  position: relative;
  max-width: 1170px;
  margin-left: 70px;
}

.adaptivSlayder input[name="kadoves"] {
  display: none;
}

.kadoves {
  position: absolute;
  left: -70px;
  bottom: -35px;
  text-align: left;
  width: 100%;
}

.kadoves label {
  display: inline-block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin: 0 2px;
  border-radius: 55%;
  background-color: #fcfcfc;
}

.kadoves label:hover {
  border: 2px solid #9d9b9b;
}

.kadoves label:active {
  border: 2px solid #c8c8c8;
}

.adaptivSlayderlasekun {
  overflow: hidden;

}

.photo-main {
  display: flex;
  flex-direction: row-reverse;
}

.photo-description {
  margin-right: 10px;
  align-self: center;
}

.p-desc {
  width: 430px;
}

.abusteku-deagulus {
  display: flex;
  width: 1170px;
  transition: all 0.6s;
}

.abusteku-deagulus .images-slaid {
  width: 367px;
  height: 554px;
}

.images-slaid {
  margin-right: 40px;
}

.back-images-slaid {
  width: 100px;
  height: 150px;
  opacity: 0.4;
}

.back-images-slaid:not(:last-child) {
  margin-right: 50px;
}

#slaid1:checked ~ .photo-main .adaptivSlayderlasekun .abusteku-deagulus {
  transform: translate(0);
}

#slaid2:checked ~ .photo-main .adaptivSlayderlasekun .abusteku-deagulus {
  transform: translateX(-100%);
}

#slaid3:checked ~ .photo-main .adaptivSlayderlasekun .abusteku-deagulus {
  transform: translateX(-200%);
}

.general-slayder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 35px;
}

/* ================================= */

.gifts {
  text-align: center;
  margin-bottom: 81px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.gifts-variety {
  display: flex;
  justify-content: center;
}

.malina {
  display: flex;
  justify-content: space-between;
  width: 570px;
  margin-right: 30px;
}

.marshmallow {
  display: flex;
  justify-content: space-between;
  width: 570px;
}

.gift-description {
  width: 317px;
  align-self: center;
  text-align: left;
  margin-left: 36px;
}

.gift-img {
  width: 219px;
  height: 268px;
}

.gifts-back {
  background-color: #ff7799;
  border-radius: 16px;
}

.tastes {
  text-align: center;
  margin-bottom: 81px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.section-header-tastes {
  width: 527px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 107px;
}

.tastes-variety {
  display: flex;
  margin-top: 40px;
}

.taste {
  width: 270px;
  height: 332px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.taste:not(:last-child) {
  margin-right: 30px;
}

.taste-img {
  margin-top: -50px;
}

.determ-descr {
  margin: 0;
}

.price {
  display: flex;
  justify-content: space-between;
  margin: 60px 40px 24px;
}

.about-description {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1170px;
  margin-bottom: 80px;
  background-image: url(/images/geo.png);
  background-position: center;
  border-radius: 16px;
  background-size: cover;
  height: 480px;
}

.header-about-descr {
  margin: 0;
  font-family: Inter;
  font-size: 32px;
  line-height: 46px;
  line-height: 119%;
  vertical-align: Top;
  margin-bottom: 56px;
}

.description-parts {
  width: 1122px;
  background-color: #ffff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  position: relative;
  top: 24px;
  padding-top: 56px;
}

.description-part {
  width: 506px;
  display: flex;
}

.description-parts-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
  padding-bottom: 56px;
}

.description-about-par {
  width: 440px;
}

.svg-about {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  top: 10px;
}


.iccr {
  background-image: url(/images/vectors/iccr.svg);
  background-repeat: no-repeat;
}

.cow {
  background-image: url(/images/vectors/cow.svg);
  background-repeat: no-repeat;
}

.qlt {
  background-image: url(/images/vectors/qlt.svg);
  background-repeat: no-repeat;
}

.tmpr {
  background-image: url(/images/vectors/tmpr.svg);
  background-repeat: no-repeat;
}

.blog {
  display: flex;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.blog-container {
  width: 570px;
  height: 224px;
  border-radius: 16px;
  background-color: #ffffff;
}

.ten {
  margin-right: 30px;
  overflow: hidden;
}

.ten-text-container {
  position: relative;
  z-index: 1;
}

.ten-blog-container {
  margin-top: 32px;
  margin-left: 32px;
}

.ten-par {
  margin: 0;
  margin-bottom: 12px;
}

.ten-header {
  width: 303px;
  margin: 0;
}

.ten-back {
  background-size: cover;
  display: block;
  position: relative;
  width: 560px;
  height: 384px;
  top: -223px;
  right: 20px;
}

.e-mail {
background-image: url(/images/mail-back.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.e-mail-text-back {
  background-color: #ffffff;
  width: 558px;
  height: 212px;
  position: relative;
  left: 5px;
  top: 5px;
  border-radius: 16px;
}

.e-mail-text-container {
  width: 506px;
  position: relative;
  top: 25px;
  left: 25px;
}

.e-mail-par {
  margin: 0;
  margin-bottom: 42px;
}

.e-mail-label {
  margin-right: 14px;
}

.e-mail-input {
  padding: 0;
  width: 332px;
  height: 48px;
}

.e-mail-button {
  margin-left: auto;
  margin-right: auto;
  width: 152px;
  height: 44px;
  border-radius: 26px;
  background-color: #ff2f64;
  color: #fcfcfc;
  border-color: rgba(255, 47, 100, 0.3);
}

.delivery {
  width: 1170px;
  overflow: hidden;
  height: 534px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.text-delivery-container {
  display: flex;
  position: relative;
  z-index: 1;
}

.text-delivery {
  width: 371px;
  margin: 167px 150px 163px 100px;
}

.form-delivery {
  width: 500px;
  background-color: #ffffff;
  margin: 64px 64px 64px 0;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

.delivery-text {
  margin: 40px 80px 32px 40px;
}

.delivery-label-first {
  margin-right: 16px;
  margin-left: auto;
  margin-bottom: 20px;
  width: 117px;
  height: 76px;
}

.delivery-label-second {
  margin-right: auto;
  margin-bottom: 20px;
  width: 287px;
  height: 76px;
}

.delivery-label-third {
  margin-right: auto;
  margin-left: auto;
  width: 420px;
  height: 76px;
}

.delivery-label-text {
  margin: 0;
  margin-bottom: 8px;
}

.delivery-input {
  height: 45px;
  padding: 0;
}

.date-input {
  width: 117px;
}

.tel-input {
  width: 287px;
}

.adress-input {
  width: 420px;
}

.post-button-delivery {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 42px;
  width: 152px;
  height: 44px;
  border-radius: 26px;
  background-color: #ff2f64;
  color: #fcfcfc;
  border-color: rgba(255, 47, 100, 0.3);
}

.delivery-back {
  background-size: cover;
  display: block;
  position: relative;
  transform: scale(-1,1);
  width: 1170px;
  top: -630px;
}

.adres-back-section {
  width: 1170px;
  height: 423px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/adres-back-section.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding-top: 64px;
}

.adres-section-text {
  width: 343px;
  margin: 0 763px 64px 64px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.back-call {
  margin-bottom: 40px;
  background-color: #ff2f64;
  border-radius: 26px;
  border: none;
  width: 250px;
  height: 46px;
  margin-top: 32px;
}

.adres-section-text p,h2,a,button {
  margin-left: 40px;
  margin-bottom: 12px;
}

.address {
  margin-bottom: 24px;
}

.tel-back-call {
  margin-bottom: 0;
}

.tel-text-bottom {
  margin-top: 0;
}

/*=============FOOTER===============*/
.footer-line {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 48px;
}

.links-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-item:not(:last-child) {
  margin-right: 16px;
}

.span-container {
  margin: 0;
}

.link-image {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}

.teleg {
  background-image: url(/images/vectors/teleg.svg);
}

.yout {
  background-image: url(/images/vectors/yout.png);
}

.vkon {
  background-image: url(/images/vectors/vkon.svg);
}
/*=============FOOTER===============*/
